.custom-card {
  max-width: 672;
  gap: 32px;
  border-radius: 8px;
  border: 1px solid #E2E8F0;
  padding: 32px; /*em todo o conteudo*/
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  color: #1A2856;
  margin-bottom: 20px;
}

.atividade-group {
  margin-bottom: 32px;
}

label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #1A2856;
}

.item-list {
  width: 100%;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  padding: 16px;
  gap: 12px
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list hr {
  margin: 12px;
}

.remove-btn i {
  padding: 5.75px;
  color: #E95F5F;
}

/*ultima modificacao: cor do botao 'x'*. continuar de -7:20; https://app.rocketseat.com.br/classroom/fundamentos-do-angular/group/componentes-3/lesson/lista-de-atividades-do-formulario/